@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* 
- Mobile: 375px 
- Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 900px, 1000px
*/
/* Global  */
:root {
  --orange: hsl(26, 100%, 55%); /*Primary*/
  --pale-orange: hsl(25, 100%, 94%); /*Primary*/
  --very-dark-blue: hsl(220, 13%, 13%); /*Neutral*/
  --dark-grayish-blue: hsl(219, 9%, 45%); /*Neutral*/
  --grayish-blue: hsl(220, 14%, 75%); /*Neutral*/
  --light-grayish-blue: hsl(223, 64%, 98%); /*Neutral*/
  --white: hsl(0, 0%, 100%); /*Neutral*/
  --black: hsl(0, 0%, 0%); /*Neutral*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Kumbh Sans", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-orange);
}
main {
  width: 375px;
  height: 100%;
  display: grid;
  grid-template: 4fr 8fr 1fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding: 1rem;
  gap: 0.5rem;
}
/* Header */
header {
  grid-area: one;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: black;
  text-shadow: 1px 1px 2px var(--pale-orange);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  background: linear-gradient(
    45deg,
    var(--orange),
    var(--pale-orange) 10%,
    var(--dark-grayish-blue) 10%,
    var(--dark-grayish-blue) 20%,
    var(--grayish-blue) 20%,
    var(--grayish-blue) 30%,
    var(--light-grayish-blue) 30%,
    var(--light-grayish-blue) 40%,
    var(--pale-orange) 40%,
    var(--pale-orange) 50%,
    var(--orange) 50%,
    var(--orange) 60%,
    var(--dark-grayish-blue) 60%,
    var(--dark-grayish-blue) 70%,
    var(--grayish-blue) 70%,
    var(--grayish-blue) 80%,
    var(--light-grayish-blue) 80%,
    var(--light-grayish-blue) 90%,
    var(--pale-orange) 90%,
    var(--dark-grayish-blue) 100%
  );
}
h1 {
  font-size: 1.5rem;
  text-align: center;
}
#machine-man {
  width: 200px;
}
h2 {
  font-size: 1rem;
  text-align: center;
}
h3 {
  font-size: 1rem;
  text-align: center;
}
/* Section */
section {
  grid-area: two;
  background-color: var(--white);
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 5px solid var(--orange);
  height: 100%;
  display: grid;
  grid-template: 5fr 2fr / auto;
  grid-template-areas:
    "top"
    "bottom";
}
article {
  grid-area: top;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 0.3rem;
}
h4 {
  color: var(--orange);
  text-transform: uppercase;
}
form {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
input {
  border: 3px solid var(--black);
  border-radius: 0.2rem;
  padding: 0.3rem;
  width: 40%;
}
#submit {
  border: 3px solid var(--black);
  border-radius: 0.2rem;
  padding: 0.3rem;
  width: 40%;
  background-color: var(--grayish-blue);
  color: var(--very-dark-blue);
  font-weight: bolder;
}
#submit:hover {
  cursor: pointer;
}
#dmn {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
menu {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
#previous {
  font-weight: bolder;
}
#previous-g {
  color: var(--grayish-blue);
  font-weight: bolder;
}
li {
  list-style: none;
}
nav {
  width: 100%;
  float: left;
}
aside {
  grid-area: bottom;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
#feedback {
  background-color: var(--grayish-blue);
  width: 100%;
  padding: 0.4rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bolder;
}
#feedback:hover {
  box-shadow: 0 0 10px 5px var(--orange);
}
span {
  color: var(--white);
}
#start {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  border: 3px solid var(--black);
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-weight: bolder;
}
#start:hover {
  cursor: pointer;
}
/* Footer */
footer {
  grid-area: three;
  background-color: var(--grayish-blue);
  color: var(--light-cyan);
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
a {
  color: hsl(217, 56%, 48%);
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.9rem;
}
/* Media Queries */

@media (min-width: 500px) {
  main {
    width: 475px;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
@media (min-width: 700px) {
  main {
    width: 665px;
  }
}
@media (min-width: 800px) {
  main {
    width: 760px;
    grid-template: 8fr 1fr / 1fr 1fr;
    grid-template-areas: 
    "left up"
    "left down";
  }
header{
  grid-area: left;
}
section{
  grid-area: up;
}
footer{
  grid-area: down;
}
}
